.nav {
    padding: 0 40px;
    height: 80px;
    color: #0be0b582;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_links{
    position: fixed;
    left: 72.5px;
    bottom: 0;
    top: 80px;
    right: 0;
    background-image: linear-gradient(rgb(7, 38, 100), rgba(58, 15, 72, 0.9)) ;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top right);
    transition: clip-path .4s;
    overflow-y: auto;
    box-shadow: 0px 3px 37.5px rgb(19, 67, 197);
    border-radius: 400px 100px;
    width: 1250px;
    height: 500px;
    z-index: 2;
}

.nav_links img{
    justify-content: flex-end;
}

.nav_link{
    text-decoration: none;
    color: #0dd1a9bf;
}

.nav_links:target{
    clip-path: circle(150% at top right);
}


